html{
  /*margin-left: 1.5vw;*/
}
body{
  margin: 0;
  float: left;
  padding: 0;
  width: 97vw;
}
.bar{
  box-sizing: border-box;
  border:1px solid black;
  background-color: #333333;
  color: #c1bab5;
    /*margin: 2vh;*/
  margin-left: 0;
  float: right;
  width: 94vw;
  padding: 2vw;
  padding-right: 10vh;
}
namey{
  float: left;
  padding-left: 7.5vw;
}
h1 , h3{
  margin: 0;
}
.nBar{
  float: right;
  padding: 1vw;
  padding-right: 8vw;
  text-transform:uppercase;
  margin-right: .5vw;
}
bton{
  border-collapse: collapse;
  padding: 1vw;
  float: left;
  background-color: #232323;
}
main{
  box-sizing: border-box;
  float: left;
  display: inline;
  width: 98%;
  padding: 5vh;
  padding-left: 13vw;

}
art{
  float: left;
  width:300px;
  height: 265px;
  margin-right: 1vw;
  background-color:#dedede;
  color:#979797;
  padding: 1.5vw;
  /*padding-top: 5vh;*/
  padding-left: 3vw;
  padding-bottom: 2vh;
  font-style: italic;
}
.ttl{
  font-size: 6vh;
}
.rmL{
  float: right;
  margin-top: 4vh;
  color: #faa124;
}
main2{
  margin-left: 10vw;
  float: left;
  margin-bottom: 15vh;
}
footery{
float: left;
}
txt{
  margin-left: 7vw;
}
.lowPic{
  word-wrap: normal;
  float: left;
  border: 1px solid #dedede;
  padding: .25vw;
  margin-right: 1vw;
  margin-bottom: 3vh;
}
.mA2{
  background-color: white;
  margin: 0;
}
